&.dropdown {
	position: relative;
	
	&:focus {
		outline: 0;
	}
	
	&.open {
		>.main {
			border-color: #a4c6fd;
			border-bottom-color: transparent;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	
	>.main {
		border: 1px solid @color-4;
		border-radius: 3px;
		
		>.value {
			width: 100%;
			height: 100%;
			cursor: pointer;
			padding: 10px 15px;
		}
		
		>.text input {
			border: none;
			&:focus {
				box-shadow: none;
			}
		}
		
		a.remove {
			position: absolute;
			top: 50%;
			right: 5px;
			height: 20px;
			margin-top: -10px;
			font-size: 20px;
			line-height: 20px;
			font-weight: bold;
			padding: 0 10px;
		}
	}
	
	>.option-list {
		background: white;
		max-height: 200px;
		overflow: auto;
		position: absolute;
		top: 100%;
		width: 100%;
		border: 1px solid @color-4;
		border-color: #a4c6fd;
		border-radius: 3px;
		z-index: 9999999;
		border-top-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: -1px;
		
		&.align-top {
			top: auto;
			bottom: 100%;
			border-radius: 3px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top: 1px solid #a4c6fd;
			border-bottom: none;
			margin-top: 0;
			margin-bottom: -1px;
			
			+.main {
				border-radius: 3px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom: 1px solid #a4c6fd;
				border-top-color: transparent;
			}
		}
		
		>.option {
			width: 100%;
			padding: 10px 14px;
			font-size: 15px;
			line-height: 1.428571429;
			cursor: pointer;
			
			&:hover {
				background: #eee;
			}
		}
	}
	
	::-webkit-input-placeholder {color: inherit}
	:-moz-placeholder {color: inherit; opacity: 1}
	::-moz-placeholder {color: inherit; opacity: 1}
	:-ms-input-placeholder {color: inherit}
	:placeholder-shown {color: inherit}
}